.container {
  @extend %flex-center;
  width: 100%;
}

.search-zone {
  @extend %flex-center;
  margin-top: 3vh;
  height: 300px;
  width: 500px;
  border-radius: 10px;
  padding: 50px;
  justify-content: space-around;
  label {
    font-family: $stack-quicksand;
    font-size: 1.3em;
  }
  #userName {
    font-size: 1.1em;
    border-radius: 25px;
    border: none;
    height: 40px;
    width: 250px;
    padding-left: 20px;
    margin-bottom: 10px;
    &:focus {
      outline: none;
    }
  }
}

p {
  margin: 0 auto;
  color: $beige;
  letter-spacing: 0.2em;
  line-height: 2.3em;
  text-align: center;
  font-size: 1em;
  padding: 10px 0;
  border-bottom: 2px dotted $dark-peru;
  b{
    font-size: 1.4em;
    font-weight: 400;
  }
  .fa-cloud-upload {
    padding-right: 10px;
    font-size: 1.3em;
  }
  .repo {
    font-weight: 400;
    padding-right: 100px;
    font-size: 1.3em;
    text-align: center;
  }
  .updated {
    font-weight: 100;
    font-size: .9em;
    text-align: center;
  }
}
