#repoFind {
  background-color: $git-grey;
  border: 0;
  font-size: 1em;
  letter-spacing: 0.5em;
  border-radius: 25px;
  color: $white;
  height: 40px;
  width: 100px;
  padding-top: 10px;
  padding-right: 5px;
}
