/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: peru;
}
li {
  list-style: none;
  color: beige;
  font-weight: 100;
  letter-spacing: 0.3em;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px dotted #a2662a
;
}
