/* Base Styles -------------------- */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px;
}

body {
  background: $peru;
  font-family: $stack-quicksand;
}

h1 {
  font-family: $stack-quicksand;
  font-weight: bold;
}
