// Descriptive color variables

$white: #fff;
$black: #000;
$grey-purple: #9f9db2;


// Functional color variables


// Font stacks

$stack-quicksand:'Quicksand', sans-serif;

// Media query breakpoints

$brk-narrow: '(max-width: 768px)';
$brk-wide: '(max-width: 1024px)';
